.Container{
  margin-left: auto;
  margin-right: auto;
  width:375px;
}

.drapeau{
  margin-left: auto;
  margin-right: auto;
  width:375px;
}

.btncontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.root{
  background-color: beige;
}